/* .btn-default.dropdown-toggle {
    background-color:#87888847 !important;
    color: #131111 !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px rgba(0, 0, 0, 0.12);
}
.dropdown-item.active, .dropdown-item:active {
    color: #64b5f6;
    text-decoration: none;
    background-color: #96c6f9ad;
}
.modal.fade.in {
    height: 100%;
    width: 80%;
    overflow: scroll;
} */

table th {
    font-size: 0.9rem;
    font-weight: 500;
    background-color: #64b5f6  !important;  /*  fd715221*/
    padding: 0.5rem;
}
table td {
    
    text-align: center;
    background-color: #fff  !important;  /*  fd715221*/
   
}



.col-example {
    padding: 0.5rem;
    background-color: #33b5e5;
    border: 2px solid #ede7f6;
    color: #fff;
    text-align: center;
}