
label
{
    float: right;
    font-weight: 400;
}

.col-example {
    padding: 0.5rem;
    background-color: #33b5e5;
    border: 2px solid #ede7f6;
    color: #fff;
    text-align: center;
}
input {

    border: 1px solid #5f5b5b; 
    height: 25px; 
    font-size: 14px;
}
