/*.btn-default.dropdown-toggle {
    background-color: #87888847 !important;
    color: #131111 !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px rgba(0, 0, 0, 0.12);
}
.dropdown-item.active, .dropdown-item:active {
    color: #64b5f6;
    text-decoration: none;
    background-color: #96c6f9;
}*/
.modal.fade.in {
    height: 100%;
    width: 80%;
    overflow: scroll;
}

table th {
    font-size: 0.9rem;
    font-weight: 500;
    background-color: #64b5f6  !important;  /*  fd715221*/
    padding: 0.5rem;
}
table td {
    
    text-align: center;
    background-color: #fff  !important;  /*  fd715221*/
   
}


/*input[type=text].input-alternate
{
width: 95%;
border: 1px solid #5f5b5b;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12)
}*/

label
{
    float: right;
    font-weight: 400;
}

textarea
{
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0 0 0px rgba(0, 0, 0, 0.08) !important;
    border: 1px solid #5f5b5b; 
    width: 100%;
    height: 30px;
}
/*mdb-select {
    border-style: groove; 
   
}*/
.col-example {
    padding: 0.5rem;
    background-color: #33b5e5;
    border: 2px solid #ede7f6;
    color: #fff;
    text-align: center;
}

/*mdb-select {
    border: 1px solid #5f5b5b;
    padding: 0px 0; 
    padding-bottom:0px;
    height: 30px;
    
    
}
mdb-select > div.single > div.placeholder {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    color: #292b2c;
    padding: 0;
    color: black;
    padding-bottom: 0px;
}*/

input {

    border: 1px solid #5f5b5b; 
    height: 25px; 
    font-size: 14px;
}
.browser-default
{
    border: 1px solid #5f5b5b; 
    height: 30px; 
    font-size: 14px;
    width: 100%;
}